# Node
**/node_modules/
**/npm-debug.log*
**/yarn-error.log*

# Hardhat / Foundry
**/artifacts/
**/cache/
**/out/
**/coverage/

# Env & local config
*.env
*.env.local
*.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Build outputs
**/dist/
**/build/
**/.next/


